<h1> Welcome to Stupid Questions </h1>

We hope this code works so I don't have to do it a tenth time..

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer save2="save3"}}

<h2> questions </h2>

<ul>
  {{#each model.questions as |question|}}
    <li>{{#link-to 'question' question.id}}
      {{question.head}}{{question.author}}
      {{question.detail}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{new-question saveQ="saveQ"}}

<hr>
